ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li:last-child {
  border-bottom: none;
}

::placeholder {
  padding: 150px;
}

span {
  margin-left: 10px;
}

.margin-left {
  margin-left: 5rem;
}

.footer-padding {
  padding: 10px 15px;
}
