.h1-todos {
  font-size: 100px;
  width: 100%;
  font-weight: 100px;
  color: rgba(175, 47, 47, 0.15);
}

html {
  background: #f5f5f5;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.background-home {
  background: #f5f5f5;
}